section.carrinho h2 {
  text-align: center;
  margin: 1.5rem 0;
}

div.itens-carrinho {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.6rem;
  gap: 0.8rem;
}

div.item-carrinho {
  background-color: #ddd;
  width: 100%;
  max-width: 780px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: -2px 2px 2px 1px #0000004f;
}

div.infos-produto {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

div.infos-quantidade {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: end;
}

div.infos-quantidade span {
  text-align: right;
}

div.item-carrinho img {
  width: 80%;
  max-width: 150px;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
}

div.botoes {
  border-radius: 0.2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

div.botoes button {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  background-color: #689195;
}

div.itens-carrinho-footer {
  width: 100%;
  max-width: 780px;
}