section.home {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: stretch;
  gap: 1rem;
}

div.produto {
  position: relative;
  background-color: #ddd;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.6rem;  
  box-shadow: -2px 2px 3px 1px #0000003f;
  transition: all 0.2s;
}

div.produto:hover {
  transform: scale(1.015);
  cursor: pointer;
}

div.produto h3 {
  margin-top: 0.2rem;
  line-height: 1.1rem;
  min-height: calc(1.1rem * 2);
}

div.produto .preco {
  background-color: rgb(111, 0, 255);
  color: #fff;
  padding: 0.2rem 0.4rem;
  border-radius:  0 0.5rem 0 0;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
}

div.produto img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  object-fit: cover;
}

@media screen and (max-width: 1320px) {
  div.produtos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 920px) {
  div.produtos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 780px) {
  div.produtos {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  div.produtos {
    grid-template-columns: 1fr;
  }
}