section.home {
  margin-top: 1rem;
}

div.produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 1rem;
}

div.produto {
  background-color: #ddd;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.6rem;  
  box-shadow: -2px 2px 3px 1px #0000003f;
}

div.produto img {
  width: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

div.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.1rem 0;
}

@media screen and (max-width: 1320px) {
  div.produtos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 920px) {
  div.produtos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 780px) {
  div.produtos {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  div.produtos {
    grid-template-columns: 1fr;
  }
}